/*---- Reset defaults ----*/

html, body, h1, h2, p, ul, li, table, tbody, tr, td, th {
	margin: 0em;
	padding: 0em;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	list-style-type: none;
}

input {
	font-family: inherit;
}


/*---- Major elements ----*/

html {
	height: 100%;
	background-image: linear-gradient(rgba(255,255,255,0.97),rgba(255,255,255,0.97)),url("tomoe-mami.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: left;
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: default;
	font-weight: normal;
	color: #000000;
}

@media (min-height: 734px) {
	html {
		background-image: linear-gradient(rgba(255,255,255,0.97),rgba(255,255,255,0.97)),url("tomoe-mami-2x.png");
	}
}

body {
	max-width: 90em;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#left-sidebar {
	position: absolute;
	width: 13em;
	height: 100%;
	padding: 1.0em 0.5em 0.5em 1.0em;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.03);
	overflow-y: auto;
}

#messages {
	position: relative;
	width: calc(100% - 13em);
	left: 13em;
	height: calc(100% - 3em);
	overflow-y: scroll;
}

div.align-bottom {
	display: table;
	width: 100%;
	height: 100%;
}

div.align-bottom > div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#footer {
	position: relative;
	width: calc(100% - 13em);
	left: 13em;
}


/*---- Detailed elements ----*/

header h1, #messages h2 {
	display: none;
}

#left-sidebar hr {
	margin: 1.0em 2.0em;
	border: none;
	border-bottom: 1px dashed #A0A0A0;
}


/* List of chat windows */

#window-list-container h2 {
	margin-bottom: 0.3em;
	font-weight: bold;
	font-size: 120%;
	color: #D0D0D0;
}

#window-list li {
	word-wrap: break-word;
	word-break: break-all;
}

#window-list li.profile {
	font-weight: bold;
}

#window-list li + li.profile {
	margin-top: 0.5em;
}

#window-list a {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1.5em;
	border-radius: 0.3em;
	color: inherit;
	text-decoration: none;
}

#window-list li.profile a {
	padding-left: 0.2em;
}

#window-list li.selected a {
	background-color: #E8E8E8;
}

#window-list a:hover {
	background-color: #F8F8F8;
}

#window-list li span {
	display: none;
}

#window-list li span:nth-child(2) {
	display: inline;
	margin-left: 0.6em;
	padding: 0em 0.4em;
	border-radius: 1em;
	background-color: #A0A0E0;
	position: relative;
	top: -0.15em;
	font-size: 75%;
	color: #F0F0F0;
}

#window-list li a.nickflag span:nth-child(2) {
	background-color: #F06060;
	color: #FFFFFF;
}


/* List of channel members */

#member-list-container h2 {
	margin-bottom: 0.3em;
	font-weight: bold;
	font-size: 120%;
	color: #D0D0D0;
}

#member-list {
	margin-left: 1.5em;
	cursor: default;
}

#member-list li {
	list-style-type: disc;
	line-height: 1.4;
	word-wrap: break-word;
	word-break: break-all;
}

#member-list li:hover {
	background-color: #F0F0F0;
}


/* List of error messages */

#error-msg-container {
	margin: 0.6em 0em;
	padding: 0.1em 1.2em;
	background: #FFB0B0;
}

#error-msg-container p {
	margin: 0.5em 0em;
}

#error-msg-container ul {
	margin-left: 2.0em;
}

#error-msg-container li {
	list-style-type: disc;
}


/* Main table of messages */

#main table {
	margin-top: 0.5em;
	width: 100%;
	border-collapse: collapse;
}

#main thead {
	display: none;
}

#main tr:hover {
	background-color: #F6F6F6;
}

td {
	padding: 0.1em 0.3em;
	box-sizing: border-box;
	vertical-align: top;
}

td:nth-child(1) {
	width: 1%;
	text-align: right;
	white-space: pre;
	font-kerning: none;
	color: #A0A0A0;
}

td:nth-child(2) {
	width: 1%;
	text-align: right;
	white-space: pre;
}

tbody td:nth-child(3) {
	width: 98%;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}

tbody td[colspan="3"] {
	padding-top: 1.0em;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	color: #A0A0A0;
}

tbody td[colspan="3"] span::before, tbody td[colspan="3"] span::after {
	display: inline-block;
	width: 50%;
	height: 0px;
	position: relative;
	border-bottom: 1px dashed #A0A0A0;
	vertical-align: middle;
	content: "";
}

tbody td[colspan="3"] span::before {
	right: 0.5em;
	margin-left: -50%;
}

tbody td[colspan="3"] span::after {
	left: 0.5em;
	margin-right: -50%;
}

tr.outgoing td:nth-child(2)::before {
	content: "\25A0\00A0";
}

tr.nickflag td:nth-child(3) {
	background: #FFF4F0;
}

tr.me-action td:nth-child(2), tr.me-action td:nth-child(3) {
	font-style: italic;
}

tr.me-action td:nth-child(2):before {
	content: "\2606\00A0";
}

tr.user-enter td:nth-child(2), tr.user-enter td:nth-child(3) {
	color: #A9CE9F;
}

tr.user-exit td:nth-child(2), tr.user-exit td:nth-child(3) {
	color: #E8BFB7;
}

tr.nick-change td:nth-child(2), tr.nick-change td:nth-child(3) {
	color: #E0DC9A;
}

tr.mode-change td:nth-child(2), tr.mode-change td:nth-child(3) {
	color: #A0B8E5;
}

tr.user-list td:nth-child(2), tr.user-list td:nth-child(3) {
	color: #C0C0C0;
}

tr.read {
	background: #F4F4F4;
	color: #B0B0B0;
}

td a:link {
	color: #D8B100
}

td a:visited {
	color: #7F6800;
}

td span a:link, td span a:visited {
	color: inherit;
}


/* Text box line */

form {
	display: table;
	width: 100%;
	padding-top: 0.5em;
}

#nickname {
	display: table-cell;
	width: 1%;
	padding-left: 1.0em;
	padding-right: 1.0em;
}

#input-box {
	display: table-cell;
	width: 99%;
	font-size: inherit;
}

#input-box.is-command {
	color: #2060FF;
}

#input-box.is-overlong {
	color: #FF0000;
}


/* Right-click context menu */

#menu {
	position: absolute;
	padding: 0.1em;
	border: 1px solid #C0C0C0;
	border-radius: 0.2em;
	background-color: #FFFFFF;
	box-shadow: 0.2em 0.2em 0.3em #505050;
}

#menu a, #menu span.disabled {
	display: block;
	padding: 0.3em 0.9em;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	background-color: #E0E0E0;
}

#menu span.disabled {
	color: #B0B0B0;
}


/* Miscellaneous */

#show-more-messages {
	margin: 0.5em 0em;
	text-align: center;
}

#show-more-messages a {
	padding: 1.0em 1.0em;
}
