/*---- Reset defaults ----*/

html, body, h1, h2, p, ul, li, table, tbody, tr, td, th {
	margin: 0em;
	padding: 0em;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	list-style-type: none;
}

input {
	font-family: inherit;
}


/*---- Major elements ----*/

html {
	height: 100%;
	background-image: linear-gradient(rgba(255,255,255,0.97),rgba(255,255,255,0.97)),url("tomoe-mami.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: left;
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: default;
	font-weight: normal;
	color: #000000;
}

@media (min-height: 734px) {
	html {
		background-image: linear-gradient(rgba(255,255,255,0.97),rgba(255,255,255,0.97)),url("tomoe-mami-2x.png");
	}
}

body {
	max-width: 80em;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
}

#main {
	display: table;
	width: 100%;
	height: 100%;
}

#main > section {
	display: table-row;
}

#main > section:nth-child(1) {
	height: 99%;
}

#main > section:nth-child(1) > div {
	display: table-cell;
	vertical-align: bottom;
}

#main > section:nth-child(2) {
	height: 1%;
}


/*---- Detailed elements ----*/

#main h1, #main h2 {
	display: none;
}


/* List of chat windows */

#window-list {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #FFFFFF;
}

#window-list li {
	display: inline-block;
	padding-left: 0.5em;
}

#window-list li.profile {
	font-weight: bold;
}

#window-list a {
	display: inline-block;
	border: 1px solid #909090;
	padding: 0.5em 1.0em;
	border-radius: 0.5em;
	color: inherit;
	text-decoration: none;
}

#window-list li.selected a {
	background-color: #E8E8E8;
}

#window-list a:hover {
	background-color: #F8F8F8;
}


/* List of channel members */

#member-list-container {
	margin: 0.4em 0em;
	padding: 0.4em 0em;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	font-size: 85%;
}

#member-list-container p, #member-list, #member-list li {
	display: inline;
}

#member-list-container p::after {
	content: "Channel members: ";
}

#member-list li:first-child::before {
	content: none;
}

#member-list li::before {
	content: ", ";
}


/* List of failed commands */

#failed-commands-container {
	margin: 0.6em 0em;
	padding: 0.1em 1.2em;
	background: #FFB0B0;
}

#failed-commands-container p {
	margin: 0.5em 0em;
}

#failed-commands-container ul {
	margin-left: 2.0em;
}

#failed-commands-container li {
	list-style-type: disc;
}


/* Main table of messages */

#main table {
	margin-top: 0.5em;
	width: 100%;
	border-collapse: collapse;
}

#main thead {
	display: none;
}

#main tr:hover {
	background-color: #F6F6F6;
}

td {
	padding: 0.1em 0.3em;
	box-sizing: border-box;
	vertical-align: top;
}

td:nth-child(1) {
	width: 1%;
	text-align: right;
	white-space: pre;
	font-kerning: none;
	color: #A0A0A0;
}

td:nth-child(2) {
	width: 1%;
	text-align: right;
	white-space: pre;
}

tbody td:nth-child(3) {
	width: 98%;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#main tfoot td {
	vertical-align: middle;
}

tr.outgoing td:nth-child(2), tr.outgoing td:nth-child(3) {
	background: #e8e8ff;
}

tr.nickflag {
	background: #ffe0d0;
}

tr.me-action {
	font-style: italic;
}

tr.read {
	background: #F4F4F4;
	color: #B0B0B0;
}

td span a {
	color: inherit;
}


/* Main input text box */

#main input[type="text"] {
	width: 100%;
	font-size: inherit;
}

#main input.is-command {
	color: #2060FF;
}

#main input.is-overlong {
	color: #FF0000;
}


/* Right-click context menu */

#menu {
	position: absolute;
	padding: 0.1em;
	border: 1px solid #C0C0C0;
	border-radius: 0.2em;
	background-color: #FFFFFF;
	box-shadow: 0.2em 0.2em 0.3em #505050;
}

#menu a, #menu span.disabled {
	display: block;
	padding: 0.3em 0.9em;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	background-color: #E0E0E0;
}

#menu span.disabled {
	color: #B0B0B0;
}
