html {
	max-width: 80em;
	height: 100%;
	margin: 0em auto;
	padding: 0em;
	background-color: #FFFFFF;
	font-family: sans-serif;
	color: #000000;
}

body {
	height: 100%;
	margin: 0em;
	padding: 0em;
	overflow-y: scroll;
}

#login {
	display: table;
	width: 100%;
	height: 100%;
}

#login form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#main {
	display: table;
	width: 100%;
	height: 100%;
}

#main > section {
	display: table-row;
}

#main > section:nth-child(1) {
	height: 1%;
}

#main > section:nth-child(2) {
	height: 99%;
	padding: 0em 0em 1.0em;
	box-sizing: border-box;
}

#main > section:nth-child(2) > div {
	display: table-cell;
	vertical-align: bottom;
}

thead {
	display: none;
}

#window-list li {
	display: inline-block;
	margin-right: 0.4em;
	list-style-type: none;
}

#window-list a {
	display: inline-block;
	padding: 0.8em 0.4em;
	border: 1px solid #909090;
	border-radius: 0.8em;
	color: inherit;
	text-decoration: none;
}

#window-list li.selected a {
	background-color: #E8E8E8;
}

#window-list a:hover {
	background-color: #F8F8F8;
}

input[type="text"] {
	width: 100%;
	font-size: inherit;
}

table {
	margin: 0em 0em 0.5em;
	padding: 0em;
	width: 100%;
	border-collapse: collapse;
}

tr:hover {
	background-color: #F0F0F0;
}

td {
	padding: 0.1em 0.3em;
	vertical-align: top;
}

td:nth-child(1) {
	width: 1%;
	text-align: right;
	font-kerning: none;
	color: #A0A0A0;
}


td:nth-child(2) {
	width: 1%;
	text-align: right;
}

tbody td:nth-child(3) {
	width: 98%;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}

tfoot td {
	vertical-align: middle;
}

input {
	font-family: inherit;
}

input.is-command {
	color: #2060FF;
}

#menu {
	position: absolute;
	padding: 0.1em;
	border: 1px solid #C0C0C0;
	border-radius: 0.2em;
	background-color: #FFFFFF;
	box-shadow: 0.2em 0.2em 0.3em #505050;
}

#menu ul, li {
	margin: 0em;
	padding: 0em;
	list-style-type: none;
}

#menu a {
	display: block;
	padding: 0.3em 0.9em;
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	background-color: #E0E0E0;
}

.outgoing td:nth-child(2), .outgoing td:nth-child(3) {
	background: #e8e8ff;
}

.nickflag {
	background: #ffe0d0;
}
